<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <h1><span>Stock price</span></h1>
    <button id="toggleDark">Switch to dark mode</button>
    <script>
        document.getElementById('toggleDark').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        });
    </script>
    <div id="price_display"></div>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            fetch('/get-stock-price')
            .then(response => response.json())
            .then(data => {
                const currentDay = new Date();
                const day_string = currentDay.toLocaleDateString('en-US',{
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                });
                document.getElementById('price_display').innerText = "As of " + day_string + "\n" + 'The Current Stock Price of Apple: ' + data.price;
            });
        });
    </script>
</body>
</html>