/* Existing styles */
body {
    background-color: #e2c1c1; /* Light pink background */
}

h1 span{
    background-color: aquamarine;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333; /* Dark background for body */
    color: #fff; /* Light text color */
}

.dark-mode h1 span{
    background-color: #555; /* Darker background for h1 */
    color: #fff; /* Light text color for h1 */
}
